In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('dataset/baru.csv')
data = data.head()

In [3]:
data

,Chapter,Verse,Meaning,label,clean_teks
0,78,1,Tentang apakah mereka saling bertanya-tanya?,lainnya,apakah saling tanya tanya
1,78,2,Tentang berita yang besar (hari berbangkit),kiamat,berita besar hari bangkit
2,78,3,yang dalam hal itu mereka berselisih.,lainnya,dalam itu selisih
3,78,4,"Sekali-kali tidak; kelak mereka akan mengetahui,",lainnya,sekali kali kelak akan tahu
4,78,5,kemudian sekali-kali tidak; kelak mereka menge...,lainnya,kemudian sekali kali kelak tahu

In [7]:
sms = data['clean_teks'].tolist()
sms

['apakah saling tanya tanya',
 'berita besar hari bangkit',
 'dalam itu selisih',
 'sekali kali kelak akan tahu',
 'kemudian sekali kali kelak tahu']

In [8]:
def getKalimat(sms):
    str1 = " " 
    kalimat = str1.join(sms)

    return kalimat

kalimat = getKalimat(sms)

In [9]:
kata = kalimat.split()
kataUnik = {}

for word in kata:
    kataUnik[word] = word

In [10]:
Keys = kataUnik.keys()
kataKunci = []

for kunci in Keys:
    kataKunci.append(kunci)

len(kataKunci)

16

In [11]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline

In [12]:
vocabulary = kataKunci
corpus = sms

pipe = Pipeline([('count', CountVectorizer(vocabulary=vocabulary)),('tfid', TfidfTransformer())]).fit(corpus)

In [13]:
pipe['count'].transform(corpus).toarray()

array([[1, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1]], dtype=int64)

In [14]:
tfidfValue = pipe['tfid'].idf_
len(tfidfValue)

16

In [15]:
len(kataKunci)

16

In [16]:
tfidf = {}

for i in range(len(kataKunci)):
    tfidf[kataKunci[i]] = tfidfValue[i]

In [17]:
tfidf

{'apakah': 2.09861228866811,
 'saling': 2.09861228866811,
 'tanya': 2.09861228866811,
 'berita': 2.09861228866811,
 'besar': 2.09861228866811,
 'hari': 2.09861228866811,
 'bangkit': 2.09861228866811,
 'dalam': 2.09861228866811,
 'itu': 2.09861228866811,
 'selisih': 2.09861228866811,
 'sekali': 1.6931471805599454,
 'kali': 1.6931471805599454,
 'kelak': 1.6931471805599454,
 'akan': 2.09861228866811,
 'tahu': 1.6931471805599454,
 'kemudian': 2.09861228866811}

In [40]:
import pandas as pd 
data = []
# initialize list of lists 
for i in range(len(kataKunci)):
    data.append([])
    data[i].append(kataKunci[i])
    data[i].append(tfidfValue[i])
    
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Kata Kunci', 'TFIDF Value']) 

df

     Kata Kunci  TFIDF Value
0         promo     3.751827
1          beli     4.071994
2         paket     3.672838
3         flash     4.641089
4         mulai     4.515926
...         ...          ...
3526      beaok     7.349139
3527  bwrangkat     7.349139
3528        cas     7.349139
3529       atay     7.349139
3530    tranfer     7.349139

[3531 rows x 2 columns]