In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('dataset/hasil.csv')
data = data.head()

In [4]:
data

,Teks,label,clean
0,[PROMO] Beli paket Flash mulai 1GB di MY TELKO...,promo,promo beli paket flash mulai gb my telkomsel a...
1,2.5 GB/30 hari hanya Rp 35 Ribu Spesial buat A...,promo,gb hari rp ribu spesial buat yang pilih aktif ...
2,"2016-07-08 11:47:11.Plg Yth, sisa kuota Flash ...",promo,plg yth sisa kuota flash kb download mytelkoms...
3,"2016-08-07 11:29:47.Plg Yth, sisa kuota Flash ...",promo,plg yth sisa kuota flash kb download mytelkoms...
4,4.5GB/30 hari hanya Rp 55 Ribu Spesial buat an...,promo,gb hari rp ribu spesial buat yang pilih aktif ...

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

data_train, data_test, label_train, label_test = train_test_split(
    data.clean,
    data.label, 
    test_size=0.8, 
    random_state=0)

In [23]:
word = data['clean'].tolist()
word

['promo beli paket flash mulai gb my telkomsel app dpt extra kuota gb g lte extra nelpon hingga mnt hr buru cek tsel me mytsel s k',
 'gb hari rp ribu spesial buat yang pilih aktif sekarang di promo sd nov buru aktif sekarang s k',
 'plg yth sisa kuota flash kb download mytelkomsel apps http tsel me tsel utk cek kuota beli paket flash hub',
 'plg yth sisa kuota flash kb download mytelkomsel apps http tsel me tsel utk cek kuota beli paket flash hub',
 'gb hari rp ribu spesial buat yang pilih aktif sekarang di buru skb']

In [24]:
from collections import Counter 

def uniqueWords(word):
    str1 = " " 
    word = str1.join(word)

    return word

unique = uniqueWords(word)

In [25]:
unique

'promo beli paket flash mulai gb my telkomsel app dpt extra kuota gb g lte extra nelpon hingga mnt hr buru cek tsel me mytsel s k gb hari rp ribu spesial buat yang pilih aktif sekarang di promo sd nov buru aktif sekarang s k plg yth sisa kuota flash kb download mytelkomsel apps http tsel me tsel utk cek kuota beli paket flash hub plg yth sisa kuota flash kb download mytelkomsel apps http tsel me tsel utk cek kuota beli paket flash hub gb hari rp ribu spesial buat yang pilih aktif sekarang di buru skb'

In [28]:
frequency = {}
kata = unique.split()
for word in kata:
    count = frequency.get(word,0)
    frequency[word] = count + 1
    

frequency_list = frequency.keys()

for words in frequency_list:
    print (words, frequency[words])

promo 2
beli 3
paket 3
flash 5
mulai 1
gb 4
my 1
telkomsel 1
app 1
dpt 1
extra 2
kuota 5
g 1
lte 1
nelpon 1
hingga 1
mnt 1
hr 1
buru 3
cek 3
tsel 5
me 3
mytsel 1
s 2
k 2
hari 2
rp 2
ribu 2
spesial 2
buat 2
yang 2
pilih 2
aktif 3
sekarang 3
di 2
sd 1
nov 1
plg 2
yth 2
sisa 2
kb 2
download 2
mytelkomsel 2
apps 2
http 2
utk 2
hub 2
skb 1

In [32]:
frequency['promo']

2

In [51]:
import math

D    = 5
keys = frequency.keys()
idf  = [] 
idf_dict = {}

for key in keys:
    count = math.log(float (D)/float (frequency[key]))
    idf.append(count)
    idf_dict[key] = count

In [1]:
df

NameError: name 'df' is not defined